@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

.container {
  background-color: rgb(249, 246, 243);
}

.header {
  background-color: rgb(249, 246, 243);
  padding: 30px;
  font-family:'Source Code Pro';
  text-align: center;
  font-size: 40px;
  font-weight: 200;
}
.toolbar {
  color: black;
  background-color: rgb(242, 233, 221);
  font-family: 'Source Code Pro';
 /* Ensure the navbar is above the home image */
}

.toolbar .customButton {
  font-family: 'Source Code Pro';
}

.menuItemRoot .customButton {
  font-family: 'Source Code Pro';
}

.toolbar .menu-items {
  display: flex;
  justify-content: center;
}

.home-image {
  height: auto;
  width: 100%;
  display: block;
}

.navbar-container {
  position: relative; 
  top: 0;
  width: 100%; 
  z-index: 1;
}

.home-container {
  position: relative;
}

.image-container {
  position: relative;
}

.home-button {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.about-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.about-text-area{
  text-align: left;
  padding: 20px;
  font-family: 'Source Code Pro';
  font-weight: 250;
  line-height: 30px;
}

.about-image {
  max-width: 100%;
  height: auto;
}

.about-text-area, .about-image-area {
  flex: 1;
}

.artwork-manager-works-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.works-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 300px;
  gap: 0px;
  /* max-width: 1000px; */
  margin: auto;
  /* padding: 20px; */
}

.manage-artworks-header {
  text-align: center;
}

.artwork-manager-work {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: auto;
  object-fit: cover;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.works {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.7s ease, box-shadow 0.8s ease;
  cursor: pointer;
}

.works:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  z-index: 1;
}

.tall {
  grid-row: span 2;
}

.works img {
  width: 100%;
  height: auto
}

.mod-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.mod-display {
  position: relative;
  background-color: white;
  padding: 4em 2em;
}

.upload-work-modal-container{
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.upload-work-modal{
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 600px;
}