.toolbar {
  color: black;
  background-color: white;
  padding: 10px;
  font-family: monospace;

}

.toolbar .customButton {
  font-family: monospace;
}

.menuItemRoot .customButton {
  font-family: monospace;
}